*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    border: 1px solid black;
    
}
.interface{
    background: #fff;
    width: 100%;
    max-width: 540px;
    border: 1px solid black;
    margin: 100px auto 60px;
    border-radius: 20px;
}
.interface h1{
    
    margin: 40px 10px 10px 30px ;
    color: #002765;
    display: flex;
    font-size: 30px;
   
}
.topic img{
    width:42px;
    margin-left: 5px;
    position: relative;
    bottom: 5px;
}
.search{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* padding-left: 200px; */
}
#search-bar{
    
   
    flex: 1;
    border: 0;
    outline: 0;
    padding: 12px 269px 12px 25px;
    /* border: 1px solid green; */
    margin-left: 30px;
    background: transparent;
    border-radius: 30px;
    background-color: #edeef0;
    font-weight: 14px;

}
.button{
    flex: 1;
    border: 0;
    outline: 0;
    padding: 12px 40px;
    /* border: 1px solid green; */
    border-radius: 30px;
    position: relative;
    right: 100px;
    background-color: #ff5945;
    font-size: 16;
    color: #fff;
}
.button:hover{
    background-color:#3D3D3D;
}
.list-container{
    /* border: 1px solid black; */
    padding-left: 50px;
    margin-top: 23px;
    margin-bottom: 50px;
}
ul{
    list-style-image: url('project1/unchecked.png');
   
}

.list li{
    position: relative;
    
    padding: 7px;
    font-size: 17px;
    cursor: pointer;
    bottom: 10px;
    
}

ul li.a{
    text-decoration: line-through;
    list-style-image: url('project1/checked.png');
    list-style-position: outside;
}
/* .b{
    text-decoration: line-through;
    list-style-image: url('project1/checked.png');
}
.c{
    text-decoration: line-through;
    list-style-image: url('project1/checked.png');
} */
ul li span{
    position: relative;
    float: right;
    right: 40px;
    
    padding: 5px 8.6px 5px 8.6px;
     border-radius: 50%;
     bottom: 8px;
}
ul li span:hover{
    background-color: #edeef0;
}