body{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    /* border: 1px solid black; */
    padding-bottom: 5px;
    background-color: #1d2a35;
    
}
.logo{
    /* border: 1px solid black; */
    position: relative;
    top: 10px;
    left: 20px;
    background-color: #1d2a35;
}
.first-nav{
 display: flex;
 /* border: 1px solid black; */
 list-style-type: none;
 position: relative;
 left: 22px;
}
.first-nav a{position: relative;
    bottom: 4px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    padding: 0px 4px;
    color: #ddd2c7;
    

}
.first-nav a img{
    position: relative;
    top: 7px;
    right: 4px;
}
.search{
    /* border: 1px solid blue; */
    position: relative;
    left: 25px;
    border-radius: 600px;
    margin-top: auto;
    margin-bottom: auto;
    
    padding: 12px 118px 12px 20px;
    text-align: left;
    font-family: sans-serif;
    color: #9c9c9e;
    font-style: italic;
    font-size: 14px;background-color:#ffffff ;
}
.geometry{
    position: relative;
    width: 21px;
    height: 21px;
    top: 21px;
    right: 4px;
}
.mode{
    position: relative;
    width: 21px;
    height: 21px;
    top: 21px;
    right: -30px;
}
.first-navpart2{
    /* border: 1px solid black; */
    margin-left: 60px;
}
.first-navpart2 li{
    display: inline-block;
    /* border: 1px solid black; */
}
.first-navpart2 li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    color: #ddd2c7;
    position: relative;
    bottom: 1px;

}
.slash{
    position:relative;
    right: 10px;
    top:1px;
}  
.nav-f{
    margin-left: 50px;
}    
 .cart{
    position: relative;
    right: 10px;
    top: 3px;
 }
 .login-button{
    /* border: 1px solid black; */
    border-radius: 600px;
    margin-top: auto;
    margin-left: 18px;
    margin-bottom: auto;
    padding: 12px 30px 12px 0px;
    font-family: sans-serif;
    background-color: #d9eee1;
               
 }
 .signup-button{
    /* border: 1px solid black; */
    border-radius: 600px;
    padding: 12px 20px 13px 20px;
    font-family: sans-serif;
    background-color: #04aa6d;
    color: #ffffe8;
 }
 
 .second-nav{
    /* border: 1px solid black; */
    display: flex;
    list-style-type: none;
    margin-top: 0px;
    height: 33px;
    padding-inline-start: 0;
    /* align-items: center; */
    background-color: #282a35;
 }
 .second-nav li{
    
    text-align: center;
    flex-grow: 1;
    /* border: 1px solid black; */
    
    
 }
 .second-nav li a{
    position: relative;
    text-decoration: none;
    top: 6.5px;
    color:#eaf1eb;
    font-family: sans-serif;
    font-size: 14px;
 }
 .sec-a{
   background-color: #04aa6d;
 }
 /*form now on body container part start*/
 .body-container{
    display: flex;
    margin-top: -18px;
   
    
 }
 .vertical-nav-header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    padding-left: 12px;
    padding-top: 13px;
    color: #cccccc;
 }
 .body-container-parta{
    background-color: #15202b;
    display: flex;
    flex-direction: column;
    width:254px;
    /* border: 1px solid black; */
    height: 527.9px;
    overflow: auto;
 }
 .body-container-parta::-webkit-scrollbar{
    width: 12px;
 }
 .body-container-parta::-webkit-scrollbar-thumb{
    background-color: #29353e;
}
.body-container-parta::-webkit-scrollbar-track{
    background-color: #15202b;
 }
 .vertical-list{
    list-style-type: none;
    padding-inline-start: 0;
    
 }
 .vertical-list li{
    /* border: 1px solid black; */
    /* width: 100%; */
    
    padding:2px 0px 8px 20px;
 }
 .vertical-list li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #cccccc;
    
 }
.vertical-list li img{
    position: relative;
    top:4.8px;
    right:11.5px;
    
}
/*now below one is after the vertical nav bar*/
.body-container-partb{
    /* border: 1px solid black; */
    width: 920px;
    background-color: #1d2a35;
}
.main-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:42px ;
  margin-top: 32px;
  margin-left: 40px;
  color: #dddddd;
}
.cont{
    
    display: flex;
    justify-content: space-between;
    
    margin-top: 15px;
}
.cont-1{
   background-color: #04aa6d;
   font-family: sans-serif;
   color: #ffffff;
   font-size: 18px;
   
   padding: 11px 20px 11px 25px;
   border-radius: 5px;
   position: relative;
   left: 40px;
}
.cont-imga{
    width: 8px;
    height: 13px;
    position: relative;
    right: 4px;
}
.cont-2{
    background-color: #04aa6d;
   font-family: sans-serif;
   color: #ffffff;
   font-size: 18px;
   border: 1px solid #193d3d;
   padding: 11px 20px 11px 25px;
   border-radius: 5px;
   position: relative;
   right: 40px;
}
.cont-imgb{
    width: 8px;
    height: 13px;
    position: relative;
    left: 4px; 
}
.cont-3{
    border: 1px solid#193d3d;
    margin-top: 26px;
    background-color: #193d3d;
}
.cont-3-first,.cont-3-second,.cont-3-third{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:#ddd7c6;
    padding-left: 40px;
}
.cont-3-first{
    padding-top: 40px;
}
.cont-3-last{
    
    /* border: 1px solid black; */
    background-color: #04aa6d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color:#f1feff;
    width: 280px;
    margin-left: 40px;
    margin-top: 25px;
    padding: 10px 0px 10px 24px;
    border-radius: 5px;    
    margin-bottom: 60px;
}
.body-container-partc{
    border-left: 1px solid #38444d;
    width: 177px;
    background-color: #1d2a35;
}
.img1-onpartc{
    margin-top: 55px;
    margin-left: 8px;
    
}
.partc-p{
    color: #bcc7d2;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}
.img2-onpartc{
    margin-left: 47px;
    margin-top: -6px;
}
.aa{
 position: relative;
 left: 22px;   
}
.bb{
    position: relative;
    left: 31px;
}
.cc{
    position: relative;
    left: 36px;
}
.dd{
    position: relative;
    left: 40px;
}
.font{
    margin-top: 10px;
}
