
        .nav{
            color: white;
            font-size: 30px;
            padding-left: 50px;
            display: inline-block;
        }
       body{
        background-color: #2e5a88;
       }
       .nav-list{
        list-style-type: none;
        display: inline-block;
        float: right;
        margin-top: 15px;
       }
       .nav-list li{
        display: inline-block;
        padding: 30px;
       }
       .nav-list li a{
        color: white;
        text-decoration: none;
       }
       .title{
            font-size: 60px;
            color:white;
            text-align: center;
            letter-spacing: 1px;
       }
       .sub-title{
        color: white;
        font-size: 23px;
        text-align: center;
        margin-top: -30px;
       }
       pre{
        color: white;
        text-align: center;
        font-family: sans-serif;
       }
       .button{
        border-radius: 25px;   
        width: 150px;
        margin: auto;
        text-align: center;
        padding: 14px;
        color: white;
        background-color: #222222;
       }
       .img{
        position:relative;
       top: 110px;
       }
       .last{
        font-weight: bold;
        position: relative;
        top: 100px;
        left:395px;
        width: 200px;
        background-color: black;
        color: white;
        font-size: 35px;
       }
       .nav-list a:hover{
        color:black;
       }
     .nav{
        cursor:pointer ;
       }
       .button:hover{
        background-color: #0c0c0c;
       }
    