*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    height: 100px;
    /* border: 1px solid black; */
    background-color: rgb(68, 68, 68);
}
.header h1{
    height: 100%;
    text-align: center;
    padding-top: 30px;
    color: hsl(0, 5%, 96%);
}
.body{
    display: flex;
    flex-direction: column;
    padding:20px 50px 10px 50px ;
    background-color: #cac6c6;
    
}
.paragraph{
    width: 100%;
    order: 2;
    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
}
ul{
    list-style-type: none;
    display: flex;
    background-color: rgb(82, 82, 82);
    display: none;
    
}
ul li{
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
    padding:10px 0px;
    
}
ul li a{
    text-decoration: none;
    color:white
}
ul li:hover{
    background-color: black;
}
/*below this is for the nav list*/
@media only screen and (min-width:768px){
  ul{
    display: flex;
  }
}
/*below this for computer view*/
@media only screen and (min-width:1000px){
    .main-box{
        display: flex;
    }
    .list{
        /* border: 1px solid black; */
        width: 20%;
        
    }
    ul{
        flex-direction: column;
        height: 100%;
        
    }
    ul li{
        height: 100%;
    }
    ul li{
        padding-top: 20px;
    }
    .body img{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .body {
        /* flex-direction: row; */
        width:80%;
        padding: 10px 15px;
    }
    
}